/* to make sure the cards' text doesn't turn blue when the whole card is clickable */
a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}


/* table stuff */
.table > :not(caption) > * > * {
  padding: 0.2rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table {
  margin-bottom: 0px;
}

.col {
  padding-bottom: 2rem;
}

.accordion > * {
  font-size: 0.9rem;
}

.card {
  margin-bottom: 1rem;
  transition: 0.3s;
  /*box-shadow: 4px 4px 4px var(--bs-gray-300);*/
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.graph_name {
  text-align: center;
}

.figure-caption {
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* .card:hover { */

/* box-shadow: 4px 4px 4px var(--bs-gray-500); */

/* transform: scale(1.005); */

/* } */

#toc {
  font-size: 16px;
}

/* when the screen is too wide, shrink width a bit by adding x-margin */

@media (min-width: 1440px) {
  .margin-max {
    margin-left: 7.5rem !important;
    margin-right: 7.5rem !important;
  }
}

.logo {
  display: block;
  width: auto;
  height: auto;
  max-height: 45px;
}

@media (max-width: 768px) {
  .logo {
    transform: scale(0.5);
  }
}

/* for printing */